repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-toml

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.10
        files: ^backend/

  - repo: local
    hooks:
      - id: slither
        name: Slither
        entry: slither
        language: system
        types: [file]
        files: ^contracts/.*\.sol$
        pass_filenames: true
        args: ["--exclude-dependencies"]

